

<div class="blog-post-content rte">
  <rte-formatter>
<<<<<<< HEAD
    {{ article.content }}
=======
    <!--{{ article.content}} replacing this with Inline Media Shortcodes so that article doesn't render twice-->
    {% render 'render-inline-media', content: article.content, article: article %}
>>>>>>> master
  </rte-formatter>
</div>

{% stylesheet %}
  .blog-post-content {
    max-width: var(--normal-content-width);
    margin: 0 auto;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.content",
  "settings": [],
  "presets": [
    {
      "name": "t:names.content"
    }
  ]
}
{% endschema %}
