@font-face {
    font-family: 'Georgia';
    src: url('https://cdn.shopify.com/s/files/1/0714/9659/7540/files/Georgia-Italic.woff2?v=1760150472') format('woff2'),
        url('Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('https://cdn.shopify.com/s/files/1/0714/9659/7540/files/Georgia-Bold.woff2?v=1760150472') format('woff2'),
        url('Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('https://cdn.shopify.com/s/files/1/0714/9659/7540/files/Georgia-Italic.woff2?v=1760150472') format('woff2'),
        url('Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('https://cdn.shopify.com/s/files/1/0714/9659/7540/files/Georgia.woff2?v=1760150472') format('woff2'),
        url('Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

